<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Farms</h1>
    <ul>
        <% for(let f of farms){ %>
            <li> <a href="/farms/<%= f.id %>"><%= f.name %></a> </li>
        <% } %>
    </ul>
    <div>
        <a href="/products">All products</a>
    </div>
    <div>
        <a href="/farms/new">Add a Farm</a>
    </div>
</body>
</html>